
.titulo{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    flex-direction: column;
    align-items: center;

    margin-top: 50px;

    font-size: 13px;
}


.titulo hr{
    border-color: #B51D44;
    width: 230px;
    border-style: solid;
    border-top-width: 2px;
    margin-top: 10px;
    border-radius: 2px;
}

.section_cadastro{

    display: flex;
    
    place-items: center;
    color: white;
    padding: 0 30px 30px 30px;

    flex: 1;
    align-items: center;
    
    height: 530px;
    
    justify-content: center;
}

.banner_cadastro {
    flex: 1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 150px;
}

.banner_cadastro img{
     width: 450px;
    height: 350px;
}

.form_cadastro{
    width: 100;
    height: 50%;

    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;

    margin-bottom: 150px;
}

.campo_cad_titulo input, .campo_cad_titulo select, .campo_cad_titulo textarea{
    margin-bottom: 65px;
    padding: 5px 5px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 15px;
    width: 356px;
    display: flex;
}

select{
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    padding: 0 5px;
    width: 355px;
    height: 30px;
    margin-bottom: 25px;
    color: grey;
}

.option{
    margin-bottom: 50px;
}

.campos_cadastro{
    padding-inline-start: 50px;
    
} 