
.titulo{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    flex-direction: column;
    align-items: center;

    margin-top: 50px;

    font-size: 13px;
}


.titulo hr{
    border-color: #B51D44;
    width: 230px;
    border-style: solid;
    border-top-width: 2px;
    margin-top: 10px;
    border-radius: 2px;
}

.section_cadastro{

    color: white;
    padding: 46px 0;

    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    height: 450px;

}

.banner_cadastro {
    flex: 1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 150px;
}

.banner_cadastro img{
    width: 450px;
    height: 250px;
}

.form_cadastro{
    width: 100;
    height: 50%;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;

    margin-bottom: 200px;
}

.campo_cad_titulo input{
    margin-bottom: 85px;
    padding: 5px 5px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 15px;
    width: 356px;
}

select{
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    padding: 0 5px;
    width: 355px;
    height: 30px;
    margin-bottom: 25px;
    color: grey;
}
