.listagem{
    min-height: calc(100vh - (75px + 252px + 40px));
    background-color: #b51d44;
    width: 100%;
    
    padding: 20px;
}

.titulo_organizado hr{
width: 300px;
}

.titulo_organizado{
    text-align: center;
    margin-bottom: 30px;
}

.titulo_organizado h1 {
    color: aliceblue;
    font-weight: bold;
    text-transform: uppercase;
    
}

.linha_titulo{
    width: 200px;
    border: none;
    border-top: 2px solid aliceblue;
    margin: 0 auto;
    
}

.tabela {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    color: aliceblue;
}


.tabela table {
    width: 100%;
    border-collapse: collapse;
}

.table_cabecalho th{
    width: 100px;
    padding: 10px;
    text-align: start;
    border-bottom: 1px solid  white;
}

.item_lista {
    text-align: start;
    border-bottom: 1px solid white;
}

.item_lista td{
    padding: 20px;
}

.item_lista img {
    height: 20px;
}

.tabela .table_cabecalho :first-child {
    width: 300px;
}

.tabela .table_cabecalho :nth-child(2) {
    width: 400px;
    text-align: start;

}

.tabela .item_lista :nth-child(2){
    width: 400px;
    text-align: start;
}

.botao_Excluir{
    background-color: #b51d44;
    border: none;
}

.botao_Editar{
    background-color: #b51d44;
    border: none;
}